body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-image: url(./assets/zebra-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fed9b7;
    height: 91vh;
    background-position: 30%;
       
}

.container {
    width: 80%;
    height: 70%;
    background-color: #fff;
    opacity: 0.8;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5rem;
    color: #900C3F;
}

.animal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animal-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.next-animal {
    width: 10rem;
    background-color: #900C3F;
    border: none;
    border-radius: 10px;
    height: 1.8rem;
    transition: .2s all;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.next-animal:hover {
    cursor: pointer;
    background-color: #C70039;
}
