body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-image: url(./assets/zebra-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fed9b7;
    height: 91vh;
    background-position: 30%;
       
}

.container {
    width: 60%;
    height: max-content;
    background-color: #fff;
    opacity: 0.87;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(255,255,255, 0.5);
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5rem;
    color: #900C3F;
}

.animal-container {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.animal-name {
    font-family: 'Dancing Script', serif;
    font-size: 2rem;
}

.next-animal {
    width: 10rem;
    background-color: #900C3F;
    border: none;
    border-radius: 10px;
    height: 1.8rem;
    transition: .2s all;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.next-animal:hover {
    cursor: pointer;
    background-color: #C70039;
}

#animal-pic {
    width: 15rem;
    height: 12rem;
    border-radius: 50%;
}
